<div class="rodape1">
  <div class="sobre">
    <div class="sime">
      <h2>Sobre o SIME:</h2>
      <p>O Sistema Integrado de Manutenção Escolar é o TCC arquitetado pelo grupo Robalo, com o objetivo 
      de facilitar e agilizar o gerenciamento e organização das demandas de manutenção escolares.
      </p>
    </div>

    <div class="feedback">
      <h2>Tabela Feedback:</h2>
      <p>A tabela Feedback, escolhida para esse trabalho, representa a comunicação entre o administrador ou
      gestor com o usuário responável pela abertura do chamado, possibilitando que o usuário fique ciente do andamento,
      conclusão, e até mesmo recusa do chamado.
      </p>
    </div>
  </div>
</div>

<div class="rodape2">
  <h2>Contatos:</h2>

  <div class="contatos">
    <a class="contatoLuiza" href="https://github.com/Luiza2112" target="_blank">
      <img src="assets/githubBranco.png">
      <p>Luiza</p>
    </a>

    <a class="contatoThabata" href="https://github.com/Thabata356" target="_blank">
      <img src="assets/githubBranco.png">
      <p>Thabata</p>
    </a>

    <a class="contatoSime" href="https://github.com/etec-SIME" target="_blank">
      <img src="assets/githubBranco.png">
      <p>SIME</p>
    </a>
  </div>

</div>

  <!--
  Elementos: Contatos da empresa, sobre o APP/TCC e talvez os participantes do TCC.
  -->


