<div class="container">
<form [formGroup]="loginForm" class="loginForm" (ngSubmit)="submit()"> <!--[formGroup]="form"-->
 <div class="Campo">
  <h1>Login:</h1>
  <div class="usuario">
    <label>Usuário:
      <input formControlName="username" class="inputNome"/>

      @if (loginForm.get('username')?.touched && loginForm.get('username')?.invalid) { 
        <div>
          @if (loginForm.get('username')?.errors?.['required']){
              <small>O nome de usuário é obrigatório</small>
          }
        </div>
      }
    </label>
  </div>

  <div formGroupName="passwords" class="senha">
    <div>
      <label>Senha:
        <input type="password" formControlName="password" class="inputSenha">

        @if (loginForm.get('passwords.password')?.touched && loginForm.get('passwords.password')?.invalid) { 
          <div>
            @if (loginForm.get('passwords.password')?.errors?.['required']){
                <small>A senha do usuário é obrigatória</small>
            }
          </div>
        }
      </label>
    </div>

    <div>
      <label>Confirmar senha:
        <input type="password" formControlName="confirmPassword">

        @if (loginForm.get('passwords.confirmPassword')?.touched && loginForm.get('passwords.confirmPassword')?.invalid) {
          <div>
            @if (loginForm.get('passwords.confirmPassword')?.errors?.['required']){
                <small>A confirmação de senha é obrigatória</small>
            }
          </div>
        }
      </label>
    </div>

    @if(loginForm.get('passwords')?.errors?.['senhasDiferente'] && loginForm.get('passwords')?.touched){
      <div>
          <small>As senhas não são iguais</small>
      </div>
    }

  </div>
  
  <button (click)="onAutenticar()">Autenticar</button>
 </div>
</form>
</div>
