@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    background-color: white;
    padding-left: 36vw;
    padding-top: 30vh;

}

.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 25vw;
    background-size: cover;
    background-position: center;
    background-color: #78c4c2;
    border-width: 2vw; /*Não funcionou*/
    border-color: #196360; /*Não funcionou*/
    border-radius: 2vh;
}

.campo{
   display: flex;
   flex-direction: column;
   gap: 1.3vw;
   background-color: white; 
   padding: 3vw;
   border-radius: 0.5vw;
}

.usuario{
    border-bottom: 1.3vw;
}

.inputNome{
    width: 78%;
}

.inputSenha{
    width: 81%;
}

.senha{
   display: flex;
   flex-direction: column;
   gap: 1.3vw;
}